@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;


  .v-slot-toolbar {
    height: 100px !important;
  }

  .v-slot-google-map {
    height: 100% !important;
    margin-bottom: 100px;
  }
}
